@model DTO.EmployeeDto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-3" style="border :1px solid #ccc; min-height: 250px">
    <div class="row">
        <div>
            <h4>Thông tin chi tiết</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayName("Họ tên")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayName("Ngày sinh")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayName("Tuổi")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Age)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayName("Dân tộc")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EthnicityName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayName("Công việc")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.JobName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayName("CCCD")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdCard)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayName("Số điện thoại")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayName("Thành phố")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Province.ProvinceName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayName("Quận")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.District.DistrictName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayName("Xã")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Town.TownName)
                </dd>
            </dl>
        </div>
        <div>
            @Html.ActionLink("Cập nhập", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
            @Html.ActionLink("Quay lại", "Index", new { area = "" }, new { @class = "btn btn-light" })
        </div>
    </div>
</div>
