@model DTO.QualificationDto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="p-3" style="border :1px solid #ccc; min-height: 250px">

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="d-flex flex-column">
                        <label>1. Tên văn bằng</label>
                        <div>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="d-flex flex-column">
                        <label>2. Ngày cấp</label>
                        <div>
                            @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control", @id = "releaseDate" } })
                            @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger", @id = "releaseDate-error" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="d-flex flex-column">
                        <label>3. Nơi cấp (Tỉnh)</label>
                        <select class="form-control selectpicker" name="IssuancePlace">
                            @foreach (var item in ViewBag.Provinces)
                            {
                                <option id="test" class="selectpicker" value="@item.Id">@item.ProvinceName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="d-flex flex-column">
                        <label>4. Ngày hết hạn</label>
                        <div>
                            @Html.EditorFor(model => model.ExpirationDate, new { htmlAttributes = new { @class = "form-control", @id = "expirationDate" } })
                            @Html.ValidationMessageFor(model => model.ExpirationDate, "", new { @class = "text-danger", @id = "expirationDate-error" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mt-3">
            <div class="d-flex justify-content-between">
                <div class="d-grid align-items-center">
                    @Html.ActionLink("< Danh sách Văn bằng", "Index")
                </div>
                <div class="">
                    <input type="reset" value="Hủy" class="btn btn-danger" />
                    <input type="submit" value="Xác nhận" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {

    @Scripts.Render("~/bundles/degree-validation")
    @Scripts.Render("~/bundles/jqueryval")
}

